@using InWorkWebApp.Models;

@{
    var applicationData = ViewBag.ApplicationData as ApplicationDataModel;
    var divisions = ViewBag.Divisions as List<DivisionModel>;
}

<footer class="footer">
    <img class="footer__background d-none d-lg-block" src="~/Content/images/background-links-footer.png" alt="background-footer" />
    <div class="container">
        <div class="text-lg-right mt-3 mb-3 clearfix">
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Index", controllerName: "Home")">Inicio</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "About", controllerName: "Home")">Nosotros</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Divisions", controllerName: "Home")">Grupos</a>
            </div>
        </div>
        @if (divisions != null)
        {
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Soluciones
                                <img src="~/Content/images/icons/chevron-up-icon.svg" alt="chevron-up-icon" />
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse accordion-body" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="footer__links">
                                @foreach (DivisionModel item in divisions)
                                {
                                    <li>
                                        <a href="@Url.Action(actionName: "Details", controllerName: "Divisions", routeValues: new { id = item.Id })">
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="last-links-container mt-4 clearfix">
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Solutions", controllerName: "Home")">Soluciones</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "News", controllerName: "Home")">Publicaciones</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Contact", controllerName: "Home")">Contacto</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "FAQ", controllerName: "Home")">FAQ</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Login", controllerName: "Account")">Login</a>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <hr class="d-none d-lg-block mt-lg-5 footer__legals-separator">
        <ul class="footer__links-legals mt-3 mt-lg-4 pb-md-3 pb-lg-4">
            <li class="text-center text-md-left"><a href="~/Content/files/terminos-condiciones-digital.pdf" target="_blank">Términos y condiciones</a></li>
            <li class="text-center text-md-left"><a href="~/Content/files/aviso-privacidad-digital.pdf" target="_blank">Aviso de privacidad</a></li>
            @if (applicationData != null && !string.IsNullOrWhiteSpace(applicationData.Brand))
            {
                <li class="text-center text-md-left"><span>© @DateTime.Now.Year @applicationData.Brand</span></li>
            }
            else
            {
                <li class="text-center text-md-left"><span>© @DateTime.Now.Year @System.Configuration.ConfigurationManager.AppSettings["Brand"]</span></li>
            }
        </ul>
    </div>
</footer>