@using InWorkWebApp.Models;

@{
    var applicationData = ViewBag.ApplicationData as ApplicationDataModel;
    var divisions = ViewBag.Divisions as List<DivisionModel>;
}

<footer class="footer">
    <div class="bg--medium py-4">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8 d-flex justify-content-between">
                    <a href="@Url.Action(actionName: "Index", controllerName: "Home")">Inicio</a>
                    <a href="@Url.Action(actionName: "About", controllerName: "Home")">Nosotros</a>
                    <a href="@Url.Action(actionName: "Divisions", controllerName: "Home")">Grupos</a>
                    <a href="@Url.Action(actionName: "News", controllerName: "Home")">Publicaciones</a>
                    <a href="@Url.Action(actionName: "Contact", controllerName: "Home")">Contacto</a>
                    <a href="@Url.Action(actionName: "Login", controllerName: "Account")">Login</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark py-4">
        <div class="container">
            <div class="row justify-content-between">
                <ul class="footer__links-legals">
                    @if (applicationData != null && !string.IsNullOrWhiteSpace(applicationData.Brand))
                    {
                        <li class="text-center text-md-left"><span>© @DateTime.Now.Year @applicationData.Brand</span></li>
                    }
                    else
                    {
                        <li class="text-center text-md-left"><span>© @DateTime.Now.Year @System.Configuration.ConfigurationManager.AppSettings["Brand"]</span></li>
                    }
                </ul>
                
                <ul class="footer__links-legals">
                    <li class="text-center text-md-left"><a href="~/Content/files/terminos-condiciones-digital.pdf" target="_blank">Términos y condiciones</a></li>
                    <li class="text-center text-md-left"><a href="~/Content/files/aviso-privacidad-digital.pdf" target="_blank">Aviso de privacidad</a></li>

                </ul>
            </div>
        </div>
    </div>
        @*@if (divisions != null)
        {
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Soluciones
                                <img src="~/Content/images/icons/chevron-up-icon.svg" alt="chevron-up-icon" />
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse accordion-body" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <ul class="footer__links">
                                @foreach (DivisionModel item in divisions)
                                {
                                    <li>
                                        <a href="@Url.Action(actionName: "Details", controllerName: "Divisions", routeValues: new { id = item.Id })">
                                            @item.Name
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }*@
        @*<div class="last-links-container mt-4 clearfix">
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Solutions", controllerName: "Home")">Soluciones</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "News", controllerName: "Home")">Publicaciones</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Contact", controllerName: "Home")">Contacto</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "FAQ", controllerName: "Home")">FAQ</a>
            </div>
            <div class="footer__link">
                <a href="@Url.Action(actionName: "Login", controllerName: "Account")">Login</a>
            </div>
        </div>*@
        
</footer>