@using InWorkWebApp.Models;

@{
    var applicationData = ViewBag.ApplicationData as ApplicationDataModel;
}

<div class="suscribe-footer-container mt-5">
    @*@Html.Partial("_NewsletterForm")*@
    <div class="position-relative">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6">
                    <div class="bg-secondary p-3">
                        <h5 class="text-center mb-4">Entérate de nuestras publicaciones</h5>
                        <div class="row justify-content-center">
                            <form class="form-inline">
                                <div class="form-group mb-2">
                                    <label for="mailsuscribe" class="sr-only">Correo electrónico</label>
                                    <input type="email" class="form-control" id="mailsuscribe" placeholder="Correo electrónico">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Suscríbete</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bg--medium bg--absolute-bottom h-50 w-100">
        </div>
    </div>
    <div class="bg--medium">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center contact__links">
                    También puedes contactarnos por correo electrónico
                    @if (applicationData != null && !string.IsNullOrWhiteSpace(applicationData.ContactEmail))
                    {
                        <a href="mailto:@(applicationData.ContactEmail)" class="btn btn-primary">
                            <span class="contact-link">@applicationData.ContactEmail</span>
                            <span class="button-link">Contáctanos<img src="~/Content/images/icons/mail-icon.svg" alt="mail-icon" /></span>
                        </a>
                    }
                    else
                    {
                        <a href="mailto:@(System.Configuration.ConfigurationManager.AppSettings["ContactEmail"])" class="btn btn-primary">
                            <span class="contact-link">@System.Configuration.ConfigurationManager.AppSettings["ContactEmail"]</span>
                            <span class="button-link">Contáctanos<img src="~/Content/images/icons/mail-icon.svg" alt="mail-icon" /></span>
                        </a>
                    }
                    <span>o al</span>
                    @if (applicationData != null && !string.IsNullOrWhiteSpace(applicationData.ContactPhoneNumber))
                    {
                        <a href="tel:@(applicationData.ContactPhoneNumber)" class="btn btn-primary">
                            <span class="contact-link">@applicationData.ContactPhoneNumber</span>
                            <span class="button-link">@applicationData.ContactPhoneNumber<img src="~/Content/images/icons/phone-icon.svg" alt="phone-icon" /></span>
                        </a>
                    }
                    else
                    {
                        <a href="tel:@(System.Configuration.ConfigurationManager.AppSettings["ContactPhoneNumber"])" class="btn btn-primary">
                            <span class="contact-link">@System.Configuration.ConfigurationManager.AppSettings["ContactPhoneNumber"]</span>
                            <span class="button-link">@System.Configuration.ConfigurationManager.AppSettings["ContactPhoneNumber"]<img src="~/Content/images/icons/phone-icon.svg" alt="phone-icon" /></span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Footer")

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}