@using InWorkWebApp.Models;

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var applicationData = ViewBag.ApplicationData as ApplicationDataModel;
    var aggregatedValues = ViewBag.AggregateValues as List<AggregateValueModel>;
    var divisions = ViewBag.Divisions as List<DivisionModel>;
    var solutions = ViewBag.Solutions as List<SolutionModel>;
    var news = ViewBag.News as List<NewsModel>;
    var latestNews = ViewBag.LatestNews as NewsModel[];
    var faqs = ViewBag.FrecuentlyAskedQuestions as List<FrequentlyAskedQuestionModel>;
}

<!-- Cabecera de la página -->
<section class="hero">
    <div class="hero__image">
        <img src="~/Content/images/hero-2021.png" alt="hero1" />
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-4 col-lg-4 text-center text-md-left">
                @if (applicationData != null)
                {
                    if (!string.IsNullOrWhiteSpace(applicationData.Brand))
                    {
                        <h6 class="text-uppercase text-light">Bienvenido a más talento</h6>
                        <h1><strong>@applicationData.Brand</strong></h1>
                    }
                    if (!string.IsNullOrWhiteSpace(applicationData.Slogan))
                    {
                        <h5 class="text-light mt-3 mb-5">@applicationData.Slogan</h5>
                        <a href="#" class="btn btn-outline-primary bg-light">Conoce más</a>
                    }
                }
                else
                {
                    <h6 class="text-uppercase">Bienvenido a más talento</h6>
                    <h1><strong>@System.Configuration.ConfigurationManager.AppSettings["Brand"]</strong></h1>
                    <h5 class="text-light mt-3 mb-5">@System.Configuration.ConfigurationManager.AppSettings["Slogan"]</h5>
                    <a href="#" class="btn btn-secondary">Conoce más</a>
                }
            </div>
            <div class="col-12 col-md-8 col-lg-8 d-flex justify-content-end register-message">
                @if (applicationData != null && !string.IsNullOrWhiteSpace(applicationData.Intro))
                {
                    @*<p>@applicationData.Intro</p>*@
                    <img src="~/Content/images/team-hero.png" alt="team" />
                }
                else
                {
                    @*<p>@System.Configuration.ConfigurationManager.AppSettings["Intro"]</p>*@
                    <img src="~/Content/images/team-hero.png" alt="team" />
                }
            </div>
        </div>
    </div>
</section>

<!-- Valores agregados -->
@if (applicationData != null && applicationData.ShowAggregateValuesOnMainPage == true)
{
    if (aggregatedValues != null)
    {
        <section class="features container">
            <img data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical" class="features__rectangle features__rectangle--left d-none d-lg-block" src="~/Content/images/rectangle-transparent.png" alt="Rectangulo izquierdo" />
            <div class="row scroll-animations">
                <div class="col-12 col-lg-5 text-center text-lg-left">
                    <h2>
                        ¿Por qué somos diferentes?
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy Ut wisi nulla facilisis at vero eros et accumsan.
                    </p>
                    <a href="#">Más información</a>
                </div>
                <div class="features__item text-center text-lg-left col-12 col-lg-7">
                    <div class="row">
                        @foreach (AggregateValueModel item in aggregatedValues)
                        {
                            <div class="features__item text-center text-lg-left col-12 col-lg-6">
                                @if (!string.IsNullOrWhiteSpace(item.IconCode) && item.IconCode.StartsWith("lnr"))
                                {
                                    <span class="@item.IconCode lnr--primary-color"></span>
                                }
                                else
                                {
                                    <span class="lnr lnr-start lnr--primary-color"></span>
                                }
                                <h4>@item.Title</h4>
                                <p class="d-none d-lg-block">@item.Content</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <img data-paroller-factor="0.1" data-paroller-type="foreground" data-paroller-direction="vertical" class="features__rectangle features__rectangle--right d-none d-lg-block" src="~/Content/images/rectangle-transparent.png" alt="Rectangulo derecho" />
        </section>
    }
    else
    {
        @Html.Partial("_NoContent", new NoContentModel(
        privateHeader: "No existen valores agregados.",
        privateDetail: "Haz clic en el botón para agregar contenido.",
        header: "No existen valores agregados.",
        detail: "El contenido que estás buscando no existe o no ha sido dado de alta por el administrador.",
        action: "Create",
        controller: "AggregateValues"))
    }
}

<!-- Divisiones -->
@if (applicationData != null && applicationData.ShowDivisionsOnMainPage == true)
{
    if (divisions != null)
    {
        <div class="row mb-3 mb-lg-5">
            <div class="col-12">
                <h2 class="text-center">¿Cómo te apoyamos?</h2>
            </div>
        </div>
        <section id="carousel-divisions" class="carousel slide carousel-testimonials" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                <li data-target="#carousel" data-slide-to="1" class=""></li>
                <li data-target="#carousel" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
                @foreach (DivisionModel item in divisions)
                {
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-6 text-center">
                                    <h2 class="col-12 text-center animated">@item.Name</h2>
                                    <p class="mb-5">@item.Summary</p>
                                    @Html.ActionLink(linkText: "Ver más", actionName: "Details", controllerName: "Divisions", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-link" })
                                </div>
                                <div class="col-12 col-md-6 text-center">
                                    @if (item.Image != null && item.Image.Length > 0)
                                    {
                                        <img class="w-100" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Image))" />
                                    }
                                    else
                                    {
                                        <img class="w-100" src="~/Content/images/division-dummy.jpg" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
    else
    {
        @Html.Partial("_NoContent", new NoContentModel(
        privateHeader: "No existen grupos.",
        privateDetail: "Haz clic en el botón para agregar contenido.",
        header: "No existen grupos.",
        detail: "El contenido que estás buscando no existe o no ha sido dado de alta por el administrador.",
        action: "Create",
        controller: "Divisions"))
    }
}

        <div class="events-container bg-warning mt-5">
            <img class="events-container__background" src="~/Content/images/chicas.jpg" alt="chicas" />
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 col-lg-5 text-center text-lg-right order-lg-1 events-container">
                        <div class="h-100 d-flex justify-content-lg-end align-items-center">
                            <h3 class="text-light">Próximos eventos</h3>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 mt-5 pt-5">
                        <div class="row mt-5 pt-5">
                            <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <i class="fa fa-calendar fa-2x text-muted mb-3"></i>
                                        <h5 class="text-primary">14 abril</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <i class="fa fa-calendar fa-2x text-muted mb-3"></i>
                                        <h5 class="text-primary">14 abril</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <i class="fa fa-calendar fa-2x text-muted mb-3"></i>
                                        <h5 class="text-primary">14 abril</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

<!-- Soluciones -->
@if (applicationData != null && applicationData.ShowSolutionsOnMainPage == true)
{
    if (solutions != null)
    {
        foreach (SolutionModel item in solutions)
        {
            <div class="general-features general-features--insert scroll-animations">
                <div class="container">
                    <div class="row mb-lg-5">
                        <h2 class="col-8 col-lg-12 animated">@item.Name</h2>
                        <span class="title-giant">@item.Name</span>
                        <hr class="animated">
                    </div>
                    <div class="row align-items-center mt-lg-3 general-features__content">
                        <div class="col-lg-6 d-none d-lg-block animated">
                            @if (item.Image != null && item.Image.Length > 0)
                            {
                                <img class="diamond-mask" src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.Image))" />
                            }
                            else
                            {
                                <img class="diamond-mask" src="~/Content/images/division-dummy.jpg" />
                            }
                        </div>
                        <div class="col-12 col-lg-6 list-custom-container animated">
                            <p>@item.Summary</p>
                            @Html.ActionLink(linkText: "Saber más", actionName: "Details", controllerName: "Solutions", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-link" })
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        @Html.Partial("_NoContent", new NoContentModel(
        privateHeader: "No existen soluciones.",
        privateDetail: "Haz clic en el botón para agregar contenido.",
        header: "No existen soluciones.",
        detail: "El contenido que estás buscando no existe o no ha sido dado de alta por el administrador.",
        action: "Create",
        controller: "Solutions"))
    }
}

<!-- Carrusel con últimas publicaciones -->
@if (applicationData != null && applicationData.ShowNewsOnMainPage == true)
{
    if (latestNews != null)
    {
        <section id="carousel" class="carousel slide carousel-testimonials" data-ride="carousel">
            <ol class="carousel-indicators">
                @for (var counter = 0; counter < latestNews.Length; counter++)
                {
                    <li data-target="#carousel" data-slide-to="@counter" class="@((counter == 0) ? "active" : "")"></li>
                }
            </ol>
            <hr>
            <h3>Últimas publicaciones</h3>
            <div class="carousel-inner">
                @for (var counter = 0; counter < latestNews.Length; counter++)
                {
                    <div class="@((counter == 0) ? "carousel-item active" : "carousel-item")">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-8 text-center">
                                    @{
                                        var item = latestNews[counter];
                                        <p class="mb-5">@item.Summary</p>
                                        <a href="@Url.Action(actionName: "Details", controllerName: "News", routeValues: new { id = item.Id })" class="btn btn-link">Leer más</a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    }
    else
    {
        @Html.Partial("_NoContent", new NoContentModel(
        privateHeader: "No existen publicaciones.",
        privateDetail: "Haz clic en el botón para agregar contenido.",
        header: "No existen publicaciones.",
        detail: "El contenido que estás buscando no existe o no ha sido dado de alta por el administrador.",
        action: "Create",
        controller: "News"))
    }
}

<!-- FAQ -->
@if (applicationData != null && applicationData.ShowFAQOnMainPage == true)
{
    if (faqs != null)
    {
        <div class="mt-5 text-center">
            <h3>Preguntas y Respuestas Frecuentes</h3>
        </div>
    }

    <section class="features container publications scroll-animations">

        <img data-paroller-factor="0.2" data-paroller-type="foreground" data-paroller-direction="vertical" class="features__rectangle features__rectangle--left d-none d-lg-block" src="~/Content/images/rectangle-transparent.png" alt="Rectangulo izquierdo" />

        <div class="row justify-content-center">
            @if (faqs != null)
            {
                foreach (FrequentlyAskedQuestionModel item in faqs)
                {
                    <div class="col-12 col-md-6 col-lg-4 mb-3">
                        <div class="solid-block solid-block--white">
                            <hr class="bg-primary" />
                            <h3 class="mb-5">@item.Question</h3>
                            <p>
                                @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Answer))
                            </p>
                        </div>
                    </div>
                }
            }
            else
            {
                @Html.Partial("_NoContent", new NoContentModel(
                privateHeader: "No existen preguntas y respuestas frecuentes.",
                privateDetail: "Haz clic en el botón para agregar contenido.",
                header: "No existen preguntas y respuestas frecuentes.",
                detail: "El contenido que estás buscando no existe o no ha sido dado de alta por el administrador.",
                action: "Create",
                controller: "FrequentlyAskedQuestions"))
            }
        </div>
    </section>
}
